<nav *ngIf="isOpen"
  class="md:left-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-auto md:flex-row md:flex-nowrap md:overflow-hidden shadow-xl  bg-white flex flex-wrap items-center justify-between relative z-10 py-4 px-10"
>
  <div
    class="md:flex-col md:items-stretch md:min-h-full md:flex-nowrap px-0 flex flex-wrap items-center justify-between w-full mx-auto"
  >
  
    <div
      class="md:flex md:flex-col md:items-stretch md:opacity-100 md:relative md:mt-4 bg-white md:shadow-none p-4 md:p-0 shadow absolute top-0 left-0 right-0 z-40 overflow-y-auto overflow-x-hidden h-auto items-center flex-1 rounded"
      
    >
    <div class="md:py-3 md:border-gray-300 md:border-b-2"></div>
      <!-- Navigation -->
      <ul class="md:flex-col md:min-w-full flex flex-col list-none">
        <li class="items-center" *ngFor="let item of menu" (click)="toggleCollapseShow()">
          <a
            class="text-blueGray-700 hover:text-blueGray-500 text-xs uppercase py-3 font-bold block"
            [routerLink]="item.direction"
            ><fa-icon [icon]="item.icon" class="pr-3"></fa-icon>
            {{item.title}}</a
          >
        </li>
        
      </ul>
      <!-- Divider -->
      <hr class="my-4 md:min-w-full" />
      <div class="md:flex-row md:min-w-full flex flex-row justify-between">
        
          <a
            class="text-blueGray-700 hover:text-blueGray-500 text-xl uppercase py-3 font-bold block"
            sm="3"
            *ngFor="let social of iconsSocialNetwork"
            [href]="social.direction"
            target="_blank"
            >
            <fa-icon [icon]="social.icon"></fa-icon>
          </a>
        
        
      </div>
    </div>
  </div>
</nav>
